<!DOCTYPE html>
<html>
<head>
	<title>Delete</title>
</head>
<body>
	<form method="post">
		<fieldset>
			<legend>Delete Product</legend>
			<table>
                <tr>
                    <td>Title</td>
                    <td><%= title %></td>
                </tr>
				<tr>
					<td>Description</td>
					<td><%= description %></td>
                </tr>
            
				<tr>
					<td>Size</td>
                    <td><%= size %></td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td><%= category %></td>
                </tr>
            
				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Delete">|| <a href="/ahome">Back</a></td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>